* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eef0f2;
  margin: 0;
  min-height: 100vh;
}

.pantalla-portada {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  position: relative;
  line-height: 0;
}

.imagen-portada {
  display: block;
  width: 100%;
  height: auto;
}

/* Zona invisible encima del botón COMENZAR de Canva */
.zona-comenzar {
  position: absolute;

  left: 20%;
  top: 82%;

  width: 64%;
  height: 8%;

  border: none;
  background: rgba(255, 0, 0, 0.25);
  cursor: pointer;
}
.respuestas-p1 {
  display: none;
}

.respuesta {
  position: absolute;
  left: 24%;
  width: 52%;
  height: 4%;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

/* Ajustaremos estas posiciones según tu PNG */
.r1 {
  top: 54%;
}

.r2 {
  top: 59%;
}

.r3 {
  top: 64%;
}

.r4 {
  top: 69%;
}

.r5 {
  top: 74%;
}
