* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eef0f2;
  margin: 0;
  min-height: 100vh;
}

.pantalla-portada {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  position: relative;
  line-height: 0;
}

.imagen-portada {
  display: block;
  width: 100%;
  height: auto;
}

/* Zona invisible encima del botón COMENZAR de Canva */
.zona-comenzar {
  position: absolute;

  left: 20%;
  top: 82%;

  width: 64%;
  height: 8%;

  border: none;
  background: rgba(255, 0, 0, 0.25);
  cursor: pointer;
}

.respuestas-p1 {
  display: none;
  position: absolute;

  left: 27%;
  top: 54%;

  width: 46%;
  height: 24%;

  grid-template-rows: repeat(5, 1fr);
  gap: 3%;
  z-index: 20;
}

.respuestas-p1.activa {
  display: grid;
}

.respuesta {
  width: 100%;
  padding: 0;
  margin: 0;

  border: none;
  background: rgba(255, 0, 0, 0.20);
  cursor: pointer;
}
